body{
    margin: 0 auto;
    /*background-image: url("https://cdn.pixabay.com/photo/2014/08/26/15/15/country-lane-428039_960_720.jpg");*/
    background-color: #00ffe9;

}
.wrapper{
    margin-left: 400px;

}
/**{*/
    /*border: dotted black .2px;*/
/*}*/
img{
    position: relative;
    right: 37%;
}
button{
    width: 40%;
    border-radius: 10%;
    position: relative;
    left: 1%;
}
button span{
    font-family: 'Baloo Bhaina', cursive;
}

h1{
    margin-top: 1%;
    position: relative;
    left: 36%;
    font-size: 40px;
    font-family: 'Baloo Bhaina', cursive;

}
.box{
    margin-top: 0%;
    /*margin-left: 19%;*/
}
.pig{
    margin-left: 30%;
}
.pig span{
    font-size: 40px;
    font-family: 'Baloo Bhaina', cursive;
    position: absolute;
    right:38%;
    top:66%;
}
.box span{
    font-size: 30px;
    font-family: 'Baloo Bhaina', cursive;
}
.fname{
    height: 40px;
    font-family: 'Baloo Bhaina', cursive;
}
.box2{
    position: absolute;
    bottom:38%;
}